<form name="generator-form" action="/generate" method="post" class="form-horizontal">

    <legend>Generator PESEL</legend>

<!--
    <div class="form-group">
        <label class="col-md-4 control-label" for="selectbasic">Generator</label>
        <div class="col-md-4">
            <select id="id_type" name="id_type" class="form-control">
                <option value="pl">PESEL (Polska)</option>
                <option value="de">SVN (Niemcy)</option>
                <option value="nl">BSN (Holandia)</option>
            </select>
        </div>
    </div>
-->

    <div class="form-group">
        <label class="col-md-4 control-label" for="birth_date">Data urodzenia</label>
        <div class="col-md-4">
            <input id="birth_date" name="birth_date" type="text" placeholder="1987-03-31" class="form-control input-md" required="">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="gender">Płeć</label>
        <div class="col-md-4">
            <div class="radio">
                <label for="gender-0">
                    <input type="radio" name="gender" id="gender-0" value="female" checked="checked">
                    Kobieta
                </label>
            </div>
            <div class="radio">
                <label for="gender-1">
                    <input type="radio" name="gender" id="gender-1" value="male">
                    Mężczyzna
                </label>
            </div>
        </div>
    </div>

    <input id="submit" name="submit" type="button" class="btn btn-primary" value="Generuj">

    <div class="form-group">
        <label class="col-md-4 control-label" for="birth_date">Wygenerowany numer</label>
        <div class="col-md-4">
            <input id="generated_id" name="generated_id" type="text" class="form-control input-md" disabled="disabled">
        </div>
    </div>

</form>

<script type="text/javascript">
    $(document).ready(function() {
        $("#submit").click(function() {
            console.log('click...');
            $.ajax({
                type: "POST",
                url: "/generate",
                data: $('form').serialize(),
                success: function(msg) {
                    if (msg.success) {
                        $("#generated_id").val(msg.id);
                    } else {
                        $("#generated_id").val(msg.msg);
                    }
                },
                error: function(){
                    alert("failure");
                }
            });
        });
    });
</script>


